html {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}

main, footer {
    position: relative;
    top: 5rem;
}

.container {
    display: flex;
}

.top-logo {
    width: 2rem;
    height: auto;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

footer ul {
    display: flex;
    justify-content: center;
}

header li {
    padding: 0 1rem;
}

footer li {
    padding: 0 2rem;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    font-weight: bolder;
}